{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div style="text-align: center;">
            <!-- Primary Toast -->
            <div class="iziToast iziToast-{{ type }} bg-primary">
                <div class="iziToast-body text-white" style="padding-left: 33px;">
                    <i class="iziToast-icon fe-icon-bell"></i>
                    <strong></strong>
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}