{% set cBg = "build/img/contacts-bg.png" %}
<footer class="bg-secondary bg-cover bg-no-repeat pt-5 pb-4" style="background-image: url({{ cBg }});" data-offset-top="-10" id="contacts">
    <div class="container py-2">
        <hr>
        <div class="d-md-flex justify-content-between align-items-center pt-4 text-center text-md-left">
            <div class="order-2">
                <a onclick="window.open(this); return false;" class="social-btn sb-style-6 sb-facebook" href="{{ me.facebookLink }}"><i class="socicon-facebook"></i></a>
                <a onclick="window.open(this); return false;" class="social-btn sb-style-6 sb-instagram" href="{{ me.instagramLink }}"><i class="socicon-instagram"></i></a>
                <a onclick="window.open(this); return false;" class="social-btn sb-style-6 sb-linkedin" href="{{ me.linkedinLink }}"><i class="socicon-linkedin"></i></a></div>
            <p class="m-0 text-sm order-1">
                <span class='opacity-80'><span class="font-weight-bold"> @alkoma-jr</span>© Tous droits  réservés</span>
            </p>
        </div>
    </div>
</footer>