{% extends 'layouts/base.html.twig' %}
{% set home = "/alkoma_blog/" %}

{% block body %}
    {% block header %}{{ include('layouts/partials/_navbar.html.twig') }}{% endblock %}
    <div class="container py-5 mb-4 text-center">
        <h1 class="display-404">404</h1>
        <h2 class="h3">Page introuvable</h2>
        <p class="text-muted">Il semble que nous ne puissions pas trouver la page que vous recherchez. <a href="{{ home }}" class='font-weight-medium'>Retourner à la page d'accueil</a></p>
    </div>
{% endblock %}