{% extends 'layouts/base.html.twig' %}

{% set heroBg = "build/img/hero-bg.png" %}

{% block body %}
    {% block header %}{{ include('layouts/partials/_navbar.html.twig', {'postActiveClass': 'active'}) }}{% endblock %}
    <!-- Page Title-->
    {% set home = "me" %}
    <div class="d-flex p-3" aria-label="Page title" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="container text-left align-self-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ home }}">Mes informations</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#"></a>
                    </li>
                </ol>
            </nav>
            <h1 class="page-title-heading"><u>Mes informations</u></h1>
        </div>
    </div>
    <!-- Page Content-->
    <div class="container mb-4">
        <div class="row">
            {{ include('layouts/partials/_sidebar.html.twig') }}
            <!-- Orders Table-->
            <div class="col-lg-8 pb-5">
                <div class="d-flex justify-content-end pb-3">
                    <div class="form-inline">
                        <label class="text-muted mr-3" for="order-sort">Sort Orders</label>
                        <select class="form-control" id="order-sort">
                            <option>All</option>
                            <option>Delivered</option>
                            <option>In Progress</option>
                            <option>Delayed</option>
                            <option>Canceled</option>
                        </select>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th>Order #</th>
                            <th>Date Purchased</th>
                            <th>Status</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a class="navi-link" href="#order-details" data-toggle="modal">78A643CD409</a></td>
                            <td>August 08, 2017</td>
                            <td><span class="badge badge-danger m-0">Canceled</span></td>
                            <td><span>$760.50</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% block footer %}{{ include('layouts/partials/_footer.html.twig') }}{% endblock %}
{% endblock %}